.pokemon-details {
  position: relative;
  flex: 1 1 auto;
  display: grid;
  place-items: center;
  top: 64px;
}

.pokemon-details .MuiCardMedia-img {
  object-fit: contain;
}

.pokemon-details .MuiCard-root {
  position: relative;
}