.back-handler {
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: #ccc;
  z-index: 100;
}

.back-handler.back-handler--down {
  top: calc(64px + 40px);
}

.back-handler .MuiButton-text {
  color: #fff;
}